@model IEnumerable<LiftoffRMAV.Models.Search>

    @{ 

    Layout = "~/Views/Shared/_Layout.cshtml";

    }
<h1>Games</h1>
<table>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>

        }
    </tbody>
</table>
