<h1>What is RMAV?</h1>
<p></p>
<p></p>

<h4> RMAV is short for Recommend Me a Video-Game.</h4>
<p>We help those who find it frustrating and tedious to try and find games they will actually enjoy.<br />
   Don't worry about trying a game just to end up hating it! Use RMAV to take the frustration out of gaming!
    </p>
